body{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.6rem;
    font-family: arial;
    text-align: left;
}

ul{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.6rem;
    font-family: arial;
    text-align: left;
}
li{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.6rem;
    font-family: arial;
    text-align: left;
}
p{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.6rem;
    font-family: arial;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.topo{
    display: flex;
    background: rgb(180, 62, 6);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.header1{
    display: flex;
    background: rgb(224, 157, 13);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}

.entregas li{
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div{
    flex: 200px;
    margin: 10px 10px;

}

.sabores{
    display: flex;
    justify-content: space-around;

}
.t2{
    text-align: left;
}

.historia{
    display: flex;
    justify-content: flex-end;
    text-align: left;
}

.t1{
    text-align: left;
}

.sabor{
    display: flex;
    justify-content: space-around;
}




